:root {
  --color-light: #05b1b1;
  --color-dark: #52339a;
}

header, footer, section {
  padding: 100px 0
}

header {
  padding: 200px 0;
}

header, footer {
  background: url(../img/pattern.png), var(--color-light);
  background: url(../img/pattern.png), -moz-linear-gradient(top, var(--color-light) 0%, var(--color-dark) 100%);
  background: url(../img/pattern.png), -webkit-linear-gradient(top, var(--color-light) 0%,var(--color-dark) 100%);
  background: url(../img/pattern.png), linear-gradient(to bottom, var(--color-light) 0%,var(--color-dark)  100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color-light), endColorstr=var(--color-dark),GradientType=0 );
  background-size: contain;
}

.itd_play {
  background-color: var(--color-light);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 30px auto;
  transition: all .2s ease;
}

.itd_play:hover {
  background-color: var(--color-dark);
}

.itd_triangle {
  margin-right: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width:  10px 0 10px 20px;
  border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 30px;
  color: var(--bs-white);
  background-color: var(--color-dark);
}

.btn-itd:hover {
  color: var(--bs-white);
  background-color: var(--color-light);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* About course */
.about, .schedule, .author {
  background-color: #eee;
}

.about i {
  font-size: 25px;
  color: var(--color-dark)
}

.itd_circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid var(--color-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100px;
  height: 3px;
  background-color: var(--color-light);
  margin: 15px auto 30px;
}

/* Forwhom */
.forwhom h5 {
  padding: 50px;
  border: 3px solid var(--color-light);
}

/* Course program */
.accordion-button:not(.collapsed) {
  color: var(--bs-black);
  background-color: var(--bs-white);
}

/* Learning */
.learning h5 {
  padding: 25px;
  border: 3px solid var(--color-light);
}

/* Author  */
.author {
  padding-bottom: 0;
}

.itd_img {
  max-width: 260px;
}

/* Color */
.color-light {
  color: var(--color-light)
}
.color-dark {
  color: var(--color-dark)
}
.bg-light {
  background-color: var(--color-light)
}
.bg-dark {
  background-color: var(--color-dark)
}